{% extends "layout.html" %}
{% block body %}
  {{ super() }}
  <div id="herobg"> </div>

  <div class="container">
    <div class="row">
      <div class="one-third column serverbox">
        <div class="serveraddr pve"></div>
        <h3 id='clk-cpy-pve'>PvE</h3>
        <p>Join a player-run city, or start one yourself! Build a vast world-wide network of rail lines or become a horse-breeding magnate! Even practice your PvP in player-made combat arenas! Be part of a vibrant, welcoming, and helpful community of players who work together to create a beautiful world!</p>
      </div>
      <div class="one-third column serverbox">
        <div class="serveraddr creative"></div>
        <h3 id='clk-cpy-creative'>Creative</h3>
        <p>Featuring open world map without designated plots, Creative gives players an unrestricted building experience. WorldEdit is available for all players to use (within their own WorldGuard regions) in building fantastic constructions!</p>
      </div>
      <div class="one-third column serverbox">
        <div class="serveraddr pvp"></div>
        <h3 id='clk-cpy-pvp'>Survival</h3>
        <p>Currently under construction! Survival will be returning soon!<br>
        PvP is the core of survival and will feature prominantly in future server releases.</p>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>
    <div class="row">
      <div class="one-half column">
        <h4>About</h4>
        <p>The Nerd.nu Minecraft Servers form a longstanding community of Minecraft players, one of the oldest in existence, running since 2009. We have deep roots in Reddit's userbase - we were originally found at <a href="https://www.reddit.com/r/minecraft">/r/Minecraft</a> before it became a general Minecraft subreddit, and are currently located at <a href="https://www.reddit.com/r/mcpublic">/r/mcpublic</a>. Our servers are primarily semi-vanilla, our staff entirely volunteer and drawn from the playerbase (even our tech admins who have developed in-house plugins), and we have <u>NO</u> pay-to-win / pay-for-perks, ranks or walls of chat spam asking you to pay for some feature - the servers are 100% voluntarily supported by members of the community.</p>
      </div>
      <div class="one-half column">
        <h4>Contact</h4>
        <ul class="contacts">
          <li><a href="http://twitter.com/redditpublic">Follow us on twitter</a></li>
          <li><a href="mailto:admins@nerd.nu">Email our admins about your issue</a></li>
          <li><a href="mailto:outage@nerd.nu">Email our techs when something breaks</a></li>
        </ul>
      </div>
    </div>
  </div>

 <div id="footerbg"> </div>

   <script type="text/javascript">
    new ClickCopy('clk-cpy-creative', 'c.nerd.nu').register();
    new ClickCopy('clk-cpy-pvp', 's.nerd.nu').register();
    new ClickCopy('clk-cpy-pve', 'p.nerd.nu').register();
  </script>
{% endblock %}
