{% extends "layout.html" %}
{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/skin.js') }}"></script>
{% endblock %}


{% block body %}
  {{ super() }}
  <div class="breakbg"> </div>
  <div class="container">
    <div class="row">
      <div class="one-half column">
        {% for player in players %}
          <canvas id="cv_{{player.name}}" title="{{player.name}}"></canvas>          
        {% endfor %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
  window.onload = function() {
    {% for player in players %}
    draw_head('cv_{{player.name}}', '{{player.name}}' , 4);
    {% endfor %}
  };
  </script>
{% endblock %}
